.details-container {
    display: grid;
    grid-template-areas:
    'image summary summary';
    gap: 3rem;
}

.details-image {
    grid-area: image;
}

.summary {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary-header {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.summary-genres {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: #eee;
    list-style-type: none;
    gap: 0.8rem;
}

.summary-genre {
    padding: 2px 5px;
    background-color: #989797;
    border-radius: 2px;
}

.summary-description {
    font-size: 2rem;
    margin: 1rem 0;
}

.summary-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary-container-card {
    padding: 5px 0;
}

@media screen and (max-width: 600px) {
    .details-container {
        grid-template-areas:
        'image'
        'summary';
        margin-top: 1.4rem;
        padding: 1rem 2rem;
    }

    .summary {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .details-image {
        margin: 0 auto;
    }

    .summary-header {
        width: 100%;
        text-align: center;
    }

    .summary-genres {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .summary-container {
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}